# Course Recommendation System

## Name: Antara Mukherjee

In [1]:
import pandas as pd
import neattext.functions as nfx
import matplotlib.pyplot as plt

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel

In [3]:
df_udemy = pd.read_csv("udemy_courses.csv")

In [4]:
df_udemy

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3673,328960.0,Your Own Site in 45 Min: The Complete Wordpres...,https://www.udemy.com/wordpress-sites/,True,120.0,1566.0,29.0,36.0,All Levels,4.0,2015-04-20T22:15:17Z,Web Development
3674,552700.0,Your Second Course on Piano: Two Handed Playing,https://www.udemy.com/learn-to-play-piano-leve...,True,70.0,1018.0,12.0,22.0,Beginner Level,5.0,2015-10-26T20:04:21Z,Musical Instruments
3675,631754.0,Zend Framework 2: Learn the PHP framework ZF2 ...,https://www.udemy.com/zend-framework-2-from-be...,True,40.0,723.0,130.0,37.0,All Levels,6.5,2015-11-11T18:55:45Z,Web Development
3676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3677,964478.0,Zombie Apocalypse Photoshop Actions,https://www.udemy.com/zombie-apocalypse-photos...,True,50.0,12.0,1.0,15.0,All Levels,1.5,2016-09-26T22:19:48Z,Graphic Design

In [5]:
df_coursera = pd.read_csv("coursera-course-detail-data.csv")

In [6]:
df_coursera

,Unnamed: 0,Name,Url,Rating,Difficulty,Tags
0,NaN,3-Axis Machining with Autodesk Fusion 360,https://coursera.org/learn/3-axis-machining-au...,5,Advanced Level,"['Physical Science and Engineering', 'Mechanic..."
1,NaN,3D Art and Audio Pipeline,https://coursera.org/learn/3d-art-and-audio-pi...,4.3,Intermediate Level,"['Computer Science', 'Software Development']"
2,NaN,3D CAD Application,https://coursera.org/learn/3d-cad-application,4.9,Intermediate Level,"['Physical Science and Engineering', 'Mechanic..."
3,NaN,3D CAD Fundamental,https://coursera.org/learn/3d-cad-fundamental,4.8,Beginner Level,"['Physical Science and Engineering', 'Mechanic..."
4,NaN,3D Data Visualization for Science Communication,https://coursera.org/learn/data-visualization-...,None,Beginner Level,"['Data Science', 'Data Analysis']"
...,...,...,...,...,...,...
3845,3845.0,NaN,NaN,NaN,NaN,NaN
3846,3846.0,NaN,NaN,NaN,NaN,NaN
3847,3847.0,NaN,NaN,NaN,NaN,NaN
3848,3848.0,NaN,NaN,NaN,NaN,NaN
3849,3849.0,NaN,NaN,NaN,NaN,NaN

In [7]:
df_coursera.rename(columns={'Name': 'course_title', 'Url': 'url'}, inplace=True)

In [8]:
df_coursera

,Unnamed: 0,course_title,url,Rating,Difficulty,Tags
0,NaN,3-Axis Machining with Autodesk Fusion 360,https://coursera.org/learn/3-axis-machining-au...,5,Advanced Level,"['Physical Science and Engineering', 'Mechanic..."
1,NaN,3D Art and Audio Pipeline,https://coursera.org/learn/3d-art-and-audio-pi...,4.3,Intermediate Level,"['Computer Science', 'Software Development']"
2,NaN,3D CAD Application,https://coursera.org/learn/3d-cad-application,4.9,Intermediate Level,"['Physical Science and Engineering', 'Mechanic..."
3,NaN,3D CAD Fundamental,https://coursera.org/learn/3d-cad-fundamental,4.8,Beginner Level,"['Physical Science and Engineering', 'Mechanic..."
4,NaN,3D Data Visualization for Science Communication,https://coursera.org/learn/data-visualization-...,None,Beginner Level,"['Data Science', 'Data Analysis']"
...,...,...,...,...,...,...
3845,3845.0,NaN,NaN,NaN,NaN,NaN
3846,3846.0,NaN,NaN,NaN,NaN,NaN
3847,3847.0,NaN,NaN,NaN,NaN,NaN
3848,3848.0,NaN,NaN,NaN,NaN,NaN
3849,3849.0,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df_udemy.append(df_coursera, ignore_index=True, sort=False)

In [10]:
df

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,Unnamed: 0,Rating,Difficulty,Tags
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3845.0,NaN,NaN,NaN
7524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3846.0,NaN,NaN,NaN
7525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3847.0,NaN,NaN,NaN
7526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3848.0,NaN,NaN,NaN
7527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3849.0,NaN,NaN,NaN

In [11]:
df=df[['course_title','url']]
df=df.dropna() 
df=df.reset_index()
df=df[['course_title','url']]
df

,course_title,url
0,1 Hour CSS,https://www.udemy.com/1-hour-css/
1,1 Hour HTML,https://www.udemy.com/1-hour-html/
2,1 Hour JavaScript,https://www.udemy.com/1-hour-javascript/
3,1 hour jQuery,https://www.udemy.com/1-hour-jquery/
4,1. Principles of Simple Interest,https://www.udemy.com/principles-of-simple-int...
...,...,...
5653,Writing Professional Email and Memos (Project-...,https://coursera.org/learn/professional-emails
5654,Writing Skills for Engineering Leaders,https://coursera.org/learn/engineering-writing
5655,Writing Winning Resumes and Cover Letters,https://coursera.org/learn/resume-writing
5656,Writing your World: Finding yourself in the ac...,https://coursera.org/learn/writing-your-world
5657,"Writing, Running, and Fixing Code in C",https://coursera.org/learn/writing-running-fix...

In [12]:
df.loc[len(df.index)] = ['Introduction to Java and Object Oriented Programming', 'https://www.coursera.org/learn/java-object-oriented-programming']
df.loc[len(df.index)] = ['Object Oriented Programming in Java', 'https://www.coursera.org/learn/object-oriented-java']
df.loc[len(df.index)] = ['java', 'https://www.udemy.com/course/java-for-absolute-beginners/']
df.loc[len(df.index)] = ['Java Programming: Complete Beginner to Advanced', 'https://www.udemy.com/course/java-programming-complete-beginner-to-advanced/']

df.loc[len(df.index)] = ['Introduction to Java', 'https://www.coursera.org/learn/java-introduction']
df.loc[len(df.index)] = ['Java Programming: Solving Problems with Software', 'https://www.coursera.org/learn/java-programming']
df.loc[len(df.index)] = ['Learn Java Programming Crash Course', 'https://www.udemy.com/course/learn-java-programming-crash-course/']
df.loc[len(df.index)] = ['Java from Beginner to Expert', 'https://www.udemy.com/course/java-from-beginner-to-expert/']
df.loc[len(df.index)] = ['Learn JAVA Programming - Beginner to Master', 'https://www.udemy.com/course/java-se-programming/']
df.loc[len(df.index)] = ['Java Programming: Principles of Software Design', 'https://www.coursera.org/learn/java-programming-design-principles']
df.loc[len(df.index)] = ['Java Programming: Arrays, Lists, and Structured Data', 'https://www.coursera.org/learn/java-programming-arrays-lists-data']

df.loc[len(df.index)] = ['Crash Course on Python', 'https://www.coursera.org/learn/python-crash-course']
df.loc[len(df.index)] = ['Programming for Everybody (Getting Started with Python)', 'https://www.coursera.org/learn/python']
df.loc[len(df.index)] = ['Python for Data Science, AI & Development', 'https://www.coursera.org/learn/python-for-applied-data-science-ai']
df.loc[len(df.index)] = ['Python', 'https://www.coursera.org/learn/python-basics']
df.loc[len(df.index)] = ['Introduction to Python Programming', 'https://www.coursera.org/learn/python-programming-intro']
df.loc[len(df.index)] = ['Learn Python Programming Masterclass', 'https://www.udemy.com/course/python-the-complete-python-developer-course/']
df.loc[len(df.index)] = ['The Python Mega Course 2022: Build 10 Real-World Programs', 'https://www.udemy.com/course/the-python-mega-course/']
df.loc[len(df.index)] = ['Automate the Boring Stuff with Python Programming', 'https://www.udemy.com/course/automate/']
df.loc[len(df.index)] = ['Python for beginners', 'https://www.udemy.com/course/python-core-and-advanced/']

In [13]:
df['course_title']=df['course_title'].str.lower()
df

,course_title,url
0,1 hour css,https://www.udemy.com/1-hour-css/
1,1 hour html,https://www.udemy.com/1-hour-html/
2,1 hour javascript,https://www.udemy.com/1-hour-javascript/
3,1 hour jquery,https://www.udemy.com/1-hour-jquery/
4,1. principles of simple interest,https://www.udemy.com/principles-of-simple-int...
...,...,...
5673,introduction to python programming,https://www.coursera.org/learn/python-programm...
5674,learn python programming masterclass,https://www.udemy.com/course/python-the-comple...
5675,the python mega course 2022: build 10 real-wor...,https://www.udemy.com/course/the-python-mega-c...
5676,automate the boring stuff with python programming,https://www.udemy.com/course/automate/
5677,python for beginners,https://www.udemy.com/course/python-core-and-a...

In [14]:
# Clean Text : Stopwords, Special Characters
df['clean_course_title'] = df['course_title'].apply(nfx.remove_stopwords)
df['clean_course_title'] = df['clean_course_title'].apply(nfx.remove_special_characters)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5678 entries, 0 to 5677
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   course_title        5678 non-null   object
 1   url                 5678 non-null   object
 2   clean_course_title  5678 non-null   object
dtypes: object(3)
memory usage: 177.4+ KB

In [16]:
df.isnull().sum()

course_title          0
url                   0
clean_course_title    0
dtype: int64

In [17]:
df['course_title']

0                                              1 hour css
1                                             1 hour html
2                                       1 hour javascript
3                                           1 hour jquery
4                       1. principles of simple interest
                              ...
5673                   introduction to python programming
5674                 learn python programming masterclass
5675    the python mega course 2022: build 10 real-wor...
5676    automate the boring stuff with python programming
5677                                 python for beginners
Name: course_title, Length: 5678, dtype: object

In [18]:
df[['course_title','clean_course_title']]

,course_title,clean_course_title
0,1 hour css,1 hour css
1,1 hour html,1 hour html
2,1 hour javascript,1 hour javascript
3,1 hour jquery,1 hour jquery
4,1. principles of simple interest,1 principles simple interest
...,...,...
5673,introduction to python programming,introduction python programming
5674,learn python programming masterclass,learn python programming masterclass
5675,the python mega course 2022: build 10 real-wor...,python mega course 2022 build 10 realworld pro...
5676,automate the boring stuff with python programming,automate boring stuff python programming
5677,python for beginners,python beginners

In [19]:
# Vectorize our clean_course_tile
count_vect = CountVectorizer()
cv_mat = count_vect.fit_transform(df['clean_course_title'])

In [20]:
cv_mat

<5678x4770 sparse matrix of type '<class 'numpy.int64'>'
	with 26006 stored elements in Compressed Sparse Row format>

In [21]:
cv_mat.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
# Cosine Similarity Matrix
cosine_sim_mat = cosine_similarity(cv_mat)

In [23]:
cosine_sim_mat

array([[1.        , 0.5       , 0.5       , ..., 0.        , 0.        ,
        0.        ],
       [0.5       , 1.        , 0.5       , ..., 0.        , 0.        ,
        0.        ],
       [0.5       , 0.5       , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.15811388,
        0.25      ],
       [0.        , 0.        , 0.        , ..., 0.15811388, 1.        ,
        0.31622777],
       [0.        , 0.        , 0.        , ..., 0.25      , 0.31622777,
        1.        ]])

In [24]:
df.head()

,course_title,url,clean_course_title
0,1 hour css,https://www.udemy.com/1-hour-css/,1 hour css
1,1 hour html,https://www.udemy.com/1-hour-html/,1 hour html
2,1 hour javascript,https://www.udemy.com/1-hour-javascript/,1 hour javascript
3,1 hour jquery,https://www.udemy.com/1-hour-jquery/,1 hour jquery
4,1. principles of simple interest,https://www.udemy.com/principles-of-simple-int...,1 principles simple interest

In [25]:
# Get Course ID/Index
course_indices = pd.Series(df.index,index=df['course_title']).drop_duplicates()

In [26]:
course_indices

course_title
1 hour css                                                      0
1 hour html                                                     1
1 hour javascript                                               2
1 hour jquery                                                   3
1. principles of simple interest                                4
                                                             ...
introduction to python programming                           5673
learn python programming masterclass                         5674
the python mega course 2022: build 10 real-world programs    5675
automate the boring stuff with python programming            5676
python for beginners                                         5677
Length: 5678, dtype: int64

In [27]:
def recommend_course(title,num_of_rec=10):
    title=title.lower()
    # ID for title
    idx = course_indices[title]
    # Course Indice
    # Search inside cosine_sim_mat
    scores = list(enumerate(cosine_sim_mat[idx]))
    # Sort Scores
    sorted_scores = sorted(scores,key=lambda x:x[1],reverse=True)
    # Recommend 
    selected_course_indices = [i[0] for i in sorted_scores[1:]]
    selected_course_scores = [i[1] for i in sorted_scores[1:]]
    result = df[['course_title','url']].iloc[selected_course_indices]
    rec_df = pd.DataFrame(result)
    rec_df['similarity_scores'] = selected_course_scores
    rec_df['course_title']=rec_df['course_title'].str.title()
    return rec_df.head(num_of_rec)

In [28]:
recommend_course("Complete Web Development with HTML, CSS and Javascript",20)

,course_title,url,similarity_scores
3222,Web Development Essential Skills - Complete Ht...,https://www.udemy.com/complete-html5-css3-cour...,0.771517
4421,"Html, Css, And Javascript For Web Developers",https://coursera.org/learn/html-css-javascript...,0.730297
1634,Intro To Html & Css: Web Development For Begin...,https://www.udemy.com/intro-to-html-and-css-ba...,0.666667
2966,The Complete Javascript Course For Web Develop...,https://www.udemy.com/javascriptcourse/,0.666667
2969,"The Complete Javascript, Html And Css Tutorial...",https://www.udemy.com/the-complete-javascript-...,0.666667
3221,Web Development By Doing: Html / Css From Scratch,https://www.udemy.com/web-development-learn-by...,0.666667
1957,Learn Html & Css: How To Start Your Web Develo...,https://www.udemy.com/how-i-landed-a-web-devel...,0.617213
3228,Web Development With Html Css Bootstrap Jquery...,https://www.udemy.com/web-development-with-htm...,0.617213
1695,Introduction To Web Development: Html,https://www.udemy.com/webdevelopment101_html/,0.612372
1976,Learn Javascript For Web Development,https://www.udemy.com/javascript-learn-javascr...,0.612372
2953,The Complete Guide To Javascript Development,https://www.udemy.com/the-complete-javascript-...,0.612372
346,"Beginner Full Stack Web Development: Html, Css...",https://www.udemy.com/ultimate-web/,0.577350
5626,Web Development,https://coursera.org/learn/web-development,0.577350
1504,Html Css Javascript: Most Popular Ways To Code...,https://www.udemy.com/html-css-javascript/,0.566139
300,Basic Html Css And Web Design,https://www.udemy.com/basic-html-css-web-design/,0.547723
826,Css Web Development Crash Course,https://www.udemy.com/css-course/,0.547723
1498,Html And Css For Beginning Web Developers,https://www.udemy.com/html-and-css-for-beginni...,0.547723
1500,Html And Css: A Guide To Web Design,https://www.udemy.com/html-and-css-a-guide-to-...,0.547723
1515,Html Web Development Crash Course,https://www.udemy.com/html-tutorials/,0.547723
1898,Learn Complete Web Development From Scratch,https://www.udemy.com/learn-complete-web-devel...,0.547723

In [200]:
df.to_csv(r'C:\Users\antar\PycharmProjects\CourseRecommender\courses.csv')